@model CalendarMvcWebApplication.ViewModel.DayViewModel
<div class="day @(this.Model.IsNotCurrentMonth ? "not-current-month" : null) @(this.Model.IsWeekendOrHoliday ? "weekend-or-holiday" : null) @(this.Model.IsToday ? "today" : null)">
    <div class="date">
        @Model.Date.Day.ToString("00")
        <button data-modal-id="modal-1" class="open-modal" style="font-size : 10px; width: 100%; height: 30px;">Добавить заметку</button>
    </div>
    <div class="events">
        @foreach (var @event in this.Model.Events)
        {
            @Html.Partial("_Event", @event)
        }
    </div>
</div>